<h2 id="title">{{#link-to 'index'}}Ember List View Demos{{/link-to}}</h2>
<nav class="link-bar">
    <ul class="link-bar">
        <li class="link-item">{{#link-to 'simple'}}Simple{{/link-to}}</li>
        <li class="link-item">{{#link-to 'mobile'}}Mobile{{/link-to}}</li>
        <li class="link-item">{{#link-to 'mobile-large-images'}}Mobile Large Images{{/link-to}}</li>
        <li class="link-item">{{#link-to 'mobile-small-images'}}Mobile Small Images{{/link-to}}</li>
        <li class="link-item">{{#link-to 'multi-height'}}Multi Height{{/link-to}}</li>
        <li class="link-item">{{#link-to 'multi-height-multi-view'}}Multi Height - Multi View{{/link-to}}</li>
        <li class="link-item">{{#link-to 'multi-height-virtual'}}Multi Height - Virtual{{/link-to}}</li>
        <li class="link-item">{{#link-to 'pull-to-refresh'}}Pull to refresh{{/link-to}}</li>
        <li class="link-item">{{#link-to 'virtual'}}Virtual{{/link-to}}</li>
        <li class="link-item">{{#link-to 'virtual-strange-ratios'}}Virtual Strange Ratios{{/link-to}}</li>
    </ul>
</nav>
{{outlet}}
